<html>

<head>
    <title>QRCode Context</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"> </script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">QRCode Context</a>
        </div>
    </nav>
    <div class="container mt-3">
        {% if current_user.is_authenticated %}
        <div class="alert alert-info" role="alert">FENIX Authenticated</div>
        {% else %}
        <div class="alert alert-danger" role="alert">NOT FENIX Authenticated</div>
        {% endif %}


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated %}
        <h2>Hi, {{ current_user.username }}!</h2>
        <div class="buttonContainer" display="flex">
            <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
            <button class="btn btn-primary" id="screenToggle" style="display: none;">Messages</button>
            <button class="btn btn-primary" id="screenToggle1" style="display:none;">Main</button>
        </div>
        {% else %}
        <p>
            <a class="btn btn-primary" href="{{ url_for('oauth2_authorize', provider='fenix') }}">Login with FENIX</a>
        </p>
        {% endif %}

        <div id="screenToggle2">
            <h2> QR Code reader</h2>
            <button class="btn btn-primary" id="QRCodeBTN">Read QRCode</button>
            <div class="qrcodereader" style="width: 500px; display:none;" id="reader"></div>

            <button class="btn btn-primary" id="checkInButton" style="display:none;">Check in</button>
            <button class="btn btn-primary" id="checkOutButton" style="display:none;">Check out</button>

            <div class="ui form" style="display:none;" id="reviewForm">
                <div class="field">
                    <textarea id="review" rows="2" placeholder="Type your review..."></textarea>
                </div>
                <button class="ui primary button" id="sendReviewBt">Send</button>
            </div>


            <div class="info" style="display:none;" id="info">
                <h2>INFO</h2>
                <a class="btn btn-primary" id="info">Info</a>
                <h2 id="infoText" style="display:none;"></h2>
            </div>
        </div>

        <div class="messagesMenu" id="screenToggle3" style="display:none;">
            <h2 id="roomId"></h2>
            <h2>Users:</h2>
            <button class="btn btn-primary" id="refreshUsers">Refresh</button>
            <div class="ui selection dropdown userList" id="userDropdown">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">Select User</div>
                <div class="menu">
                </div>
            </div>
            <div class="ui form" style="display:none;" id="messageForm">
                <div class="field">
                    <textarea id="message" rows="2" placeholder="Type your message..."></textarea>
                </div>
                <button class="ui primary button" id="sendMessageBt">Send</button>
            </div>
            <h2>Messages:</h2>
            <button class="btn btn-primary" id="refreshMessages">Refresh</button>
            <ul id="messageList"></ul>

        </div>
    </div>



    <script>

        $("#QRCodeBTN").click(function () {
            $(".qrcodereader").toggle();
        });
        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            console.log(`Scan result: ${decodedText}`, decodedResult);
            //alert(`Scan result: ${decodedText}`, decodedResult);
            $("#checkInButton").show();
            $("#checkOutButton").hide();
            $("#reviewForm").hide();
            $("#screenToggle").hide();
            $(".info").show();
            let url = "/api/" + (decodedText[0] == 's' ? decodedText.substring(1) + "/schedule" : decodedText.substring(1) + "/menu")

            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    $("#infoText").show();
                    $("#infoText").empty();
                    $("#infoText").append("<li>" + decodedText.substring(1) + "</li>");
                    if (decodedText[0] == 's') {
                        for (slot of data) {
                            $("#infoText").append("<li>" + slot + "</li>");
                        }
                    } else if (decodedText[0] == 'r') {
                        for (item of data) {
                            $("#infoText").append("<li>" + item + "</li>");
                        }
                    }
                    $("#roomId").text(decodedText);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });

            $.ajax({
                url: '/api/checked_in/' + decodedText.substring(1),
                type: 'GET',
                // dataType: 'json',
                success: function (data) {
                    console.log(data);
                    // Handle the successful response and format the messages
                    const userList = $('.menu');
                    for (const user_id of data) {
                        const formattedUser = `<div class="item" data-value="${user_id}">${user_id}</div>`;
                        userList.append(formattedUser);
                        console.log(formattedUser);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }
        var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250, rememberLastUsedCamera: false });
        html5QrcodeScanner.render(onScanSuccess);

        $("#refreshUsers").click(function () {
            $(".menu").empty();
            $.ajax({
                url: '/api/checked_in/' + $("#roomId").text().substring(1),
                type: 'GET',
                // dataType: 'json',
                success: function (data) {
                    console.log(data);
                    // Handle the successful response and format the messages
                    const userList = $('.menu');
                    for (const user_id of data) {
                        const formattedUser = `<div class="item" data-value="${user_id}">${user_id}</div>`;
                        userList.append(formattedUser);
                        console.log(formattedUser);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        $(".userList").dropdown({
            onChange: function (value, text, $selectedItem) {
                $("#messageForm").show();
            }
        });


        $("#sendMessageBt").click(function () {
            $.ajax({
                url: '/api/send_message/{{Room}}/{{current_user.istid}}/',
                type: 'POST',
                data: JSON.stringify({
                    "destination": $(".userList").val(),
                    "message": $("#message").val()
                }),
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#message").val("");
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });


        $("#refreshMessages").click(function () {
            $("#messagelist").empty();
            $.ajax({
                url: '/api/messagesreceived/{{current_user.istid}}',
                type: 'GET',
                // dataType: 'json',
                success: function (data) {
                    console.log("{{current_user.istid}}");
                    console.log(data);
                    // Handle the successful response and format the messages
                    const messageList = $('#messageList');
                    for (const sender in data) {
                        const message = data[sender];
                        const formattedMessage = `${sender}: ${message}`;
                        messageList.append(`<li>${formattedMessage}</li>`);
                        console.log(formattedMessage);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        $("#checkInButton").click(function () {
            $.ajax({
                url: '/api/check_in/' + $("#roomId").text().substring(1) + '/{{current_user.istid}}',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#checkInButton").hide();
                    $("#checkOutButton").show();
                    if (data.status == "User already checked in") {
                        alert("User already checked in");
                    } else {
                        $("#screenToggle").show();
                        if ($("#roomId").text()[0] == 'r') {
                            $("#reviewForm").show();
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        $("#checkOutButton").click(function () {
            $.ajax({
                url: '/api/check_out/{{current_user.istid}}',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#checkInButton").show();
                    $("#checkOutButton").hide();
                    $("#screenToggle").hide();
                    $("#reviewForm").hide();
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        $("#screenToggle").click(function () {
            $("#screenToggle").toggle();
            $("#screenToggle1").toggle();
            $("#screenToggle2").toggle();
            $("#screenToggle3").toggle();

            setTimeout(function () {
                $("#refreshMessages").click();
            }, 5000);
        });
        $("#screenToggle1").click(function () {
            $("#screenToggle").toggle();
            $("#screenToggle1").toggle();
            $("#screenToggle2").toggle();
            $("#screenToggle3").toggle();

            clearTimeout();
        });
    </script>
</body>

</html>